.activity{
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(10, 10vw);
	justify-items: stretch;
	justify-content: space-evenly;
	align-items: center;
}
.openOrClosed{
	grid-column: 2/3;
	display: grid;
}
