.activity{
	height: 50px;
	display: grid;
	margin: 0 12%;
	grid-template-columns: repeat(10, 10%);
	justify-items: stretch;
	justify-content: center;
	align-items: center;
	place-content: center space-evenly;
	place-items: center stretch;
}
.openOrClosed{
	grid-column: 2/3;
	display: grid;
}
